.container {
  border-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 50px;
  padding: 25px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;


}

.optionLabel {
  height: 20px;
  margin: 0 10px 0 0;
  padding: 0;

}

.optionButton {
  height: 15px;
  width: 15px;
  margin: 0 0 0 10px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

.accentButtonOrange{
  border-color: var(--orangedeep);
}

.accentButtonBlue{
  border-color: var(--blue);
}

.accentButtonCyan{
  border-color: var(--cyandark);
}

.accentButtonYellow{
  border-color: var(--yellow);
}