.container {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out ;
    text-align: left;
    margin: 0;
}

.container:hover {
    transform: scale(1.01);
    transition-duration: 0.5s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}