.container {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-end;
    position: sticky;
    width: 100%;
}

.pageTitle {
    margin: 0 10px;
    padding: 0;
    font-size: 2.5em;
    user-select: none;
}

.menu {
    margin: 0 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.settingsButton {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.settingsButton:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

@keyframes rotate360 {


}